
body {
    font-family: 'Roboto Mono', monospace; /* Обновлено на нужный шрифт */
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #000428, #004e92);
    color: #fff;
}

header {
    text-align: center;
    padding: 50px 20px;
    background: rgba(0, 0, 0, 0.5);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00; /* Цвет при наведении */
    text-decoration: underline; /* Добавлено для консистентности */
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
}
/* Эффект при наведении на кнопки */
button, input[type="submit"] {
    background-color: #004e92;
    border: none;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, input[type="submit"]:hover {
    background-color: #ffcc00; /* Цвет при наведении */
}

.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.mySlides {
    display: none;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Мобильная версия */
@media (max-width: 600px) {
    body {
        font-size: 16px;
    }
    header h1 {
        font-size: 1.8em;
    }
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    .slideshow-container {
        max-width: 100%;
    }
}

.social-icons {
    text-align: center;
    margin: 10px 0;
}

.social-icons img {
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}
